# Data Structures
   A data structure is basically a collection of multiple data types. There are multiple data structures in Python and here are the most commonly used ones: Lists, Tuples, Sets & Dictionaries. Now here are the  characteristics of each one of them:
* List = [e1,e2,e3,etc]: ordered (indexed), changeable (mutable), duplicates.
* Tuple = (e1,e2,e3,etc): ordered (indexed), unchangeable (immutable), duplicates.
* Set = {e1,e2,e3,etc}: unordered (unindexed), addable/removeable, no duplicates.
* Dictionary = {key1:value1,k:v,etc}: unordered (unindexed), changeable (mutable), no duplicates.
#### Note: when I copy or slice a list, a set or a dictionary and change a particular value, the value of the original list, set or dictionary  will change as well as we have already seen before with lists because they refer to the same memory "pointers!".

In [2]:
# Syntaxe
L = [1,3,4.9, "name", 3]
T = (1,3,4.9, "name", 3)
S = {1,3,4.9, "name", 3}
D = {23:"twothree", "B":43,"C":"CCD"}

In [3]:
print("The type of L is ", type(L))
print("The type of T is ", type(T))
print("The type of S is ", type(S))
print("The type of D is ", type(D))

The type of L is  <class 'list'>
The type of T is  <class 'tuple'>
The type of S is  <class 'set'>
The type of D is  <class 'dict'>

In [4]:
# Access value
print(L[1])
print(T[1])
print(3 in S)
print(D[23])

3
3
True
twothree

In [5]:
# No duplicates in sets
S

{1, 3, 4.9, 'name'}

In [6]:
# Indexing in List and Tuple is exactly the same as we did in String
L

[1, 3, 4.9, 'name', 3]

In [7]:
L[1:3]

[3, 4.9]

In [8]:
L[1:3:2]

[3]

In [9]:
L[::-1]

[3, 'name', 4.9, 3, 1]

In [10]:
T[:3]

(1, 3, 4.9)

In [11]:
T[:3:2]

(1, 4.9)

In [12]:
T[::-1]

(3, 'name', 4.9, 3, 1)

In [13]:
# Changing a list (add, update & remove an element)
L = L + ["how","are",6,"you"]
L

[1, 3, 4.9, 'name', 3, 'how', 'are', 6, 'you']

In [14]:
L.append(6.8) # or by using append() function
L

[1, 3, 4.9, 'name', 3, 'how', 'are', 6, 'you', 6.8]

In [15]:
L[-1]="?"
L

[1, 3, 4.9, 'name', 3, 'how', 'are', 6, 'you', '?']

In [16]:
del L[7] # or L.remove(6.8)
L

[1, 3, 4.9, 'name', 3, 'how', 'are', 'you', '?']

In [17]:
# We can't change a tuple however we can create 2 tuples and add them together
T2 = ('a','b',45)
T3 = T+T2
T3

(1, 3, 4.9, 'name', 3, 'a', 'b', 45)

In [18]:
# Changing a set we can add & remove not change:
S.add(56) # add for one element
S

{1, 3, 4.9, 56, 'name'}

In [19]:
S.update({23,"game",1}) # update to add/insert multiple elements
S

{1, 23, 3, 4.9, 56, 'game', 'name'}

In [20]:
S.remove("game")
S

{1, 23, 3, 4.9, 56, 'name'}

In [21]:
# Changing a dictionary:
D["newKey"] ="newValue"
D

{23: 'twothree', 'B': 43, 'C': 'CCD', 'newKey': 'newValue'}

In [22]:
D['B']=29
D

{23: 'twothree', 'B': 29, 'C': 'CCD', 'newKey': 'newValue'}

In [23]:
del D['C']
D

{23: 'twothree', 'B': 29, 'newKey': 'newValue'}

In [24]:
D2 = {"x":2,'z':9}

In [25]:
# We can't add 2 dictionaries using + operator
D3 = D+D2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [26]:
# However we can using update method:
D.update(D2)
D

{23: 'twothree', 'B': 29, 'newKey': 'newValue', 'x': 2, 'z': 9}

In [27]:
# Copying data structures
L

[1, 3, 4.9, 'name', 3, 'how', 'are', 'you', '?']

In [28]:
L2 = L

In [29]:
L2

[1, 3, 4.9, 'name', 3, 'how', 'are', 'you', '?']

In [30]:
L2[2]= "four point nine"
L2

[1, 3, 'four point nine', 'name', 3, 'how', 'are', 'you', '?']

In [31]:
L # L and L2 are pointing to the same structure in the memory!

[1, 3, 'four point nine', 'name', 3, 'how', 'are', 'you', '?']

In [32]:
# to avoid this we use copy function
L2 = L.copy()
L2

[1, 3, 'four point nine', 'name', 3, 'how', 'are', 'you', '?']

In [33]:
L2[2] = 4.9
L2

[1, 3, 4.9, 'name', 3, 'how', 'are', 'you', '?']

In [39]:
"""The problem is solved! the same thing goes for a Set and a Dictionary.
    However there is no copy function for a Tuple since its values are not
    changeable anyways
"""
L

[1, 3, 'four point nine', 'name', 3, 'how', 'are', 'you', '?']

### Functions and methods for 'List' data structure:
* ListName. + TAB show the different applicable functions on the list:
  - L.append(): adds elements to the end of the list.
  - L.clear(): removes all items from list.
  - L.pop(): removes the last item from the list and returns it.
 #### Note: A data structure can contain anything like any data type and structure: a list, a tuple, a set or  even a dectionary and vise versa and so on ...

In [42]:
L

[1, 3, 'four point nine', 'name', 3, 'how', 'are', 'you', '?']

In [43]:
T

(1, 3, 4.9, 'name', 3)

In [44]:
S

{1, 23, 3, 4.9, 56, 'name'}

In [45]:
D

{23: 'twothree', 'B': 29, 'newKey': 'newValue', 'x': 2, 'z': 9}

In [46]:
D3 = {'A':L,'B':T,'C':S,'D':D}
D3

{'A': [1, 3, 'four point nine', 'name', 3, 'how', 'are', 'you', '?'],
 'B': (1, 3, 4.9, 'name', 3),
 'C': {1, 23, 3, 4.9, 56, 'name'},
 'D': {23: 'twothree', 'B': 29, 'newKey': 'newValue', 'x': 2, 'z': 9}}

In [48]:
D3['A'][3]

'name'

In [49]:
K = D3['D']
K

{23: 'twothree', 'B': 29, 'newKey': 'newValue', 'x': 2, 'z': 9}

In [50]:
for x in K:
    print(x, K[x])

23 twothree
B 29
newKey newValue
x 2
z 9

In [51]:
L4 = [L,T,D,23,"game"]
L4

[[1, 3, 'four point nine', 'name', 3, 'how', 'are', 'you', '?'],
 (1, 3, 4.9, 'name', 3),
 {23: 'twothree', 'B': 29, 'newKey': 'newValue', 'x': 2, 'z': 9},
 23,
 'game']

In [52]:
type(L4[2])

dict

In [53]:
# Making a list of squares for numbers from 0 to 9
L5 = [x**2 for x in range(10)]
L5

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [56]:
# Making a set of squares for numbers from 2 to 20 with a step of 3
S2 = {x**2 for x in range(2,20,3)}
S2

{4, 25, 64, 121, 196, 289}

In [3]:
"""Let's say you're a teacher and you have different student
records containing id of a student and the marks list in each subject
where different students have taken different number of subjects. All
these records are in hard copy. You want to enter all the data in computer
and then compute the average marks of each student and display them.
"""

def getDataFromTeacher():
    D = {}
    while True:
        studentId = input("Enter student ID: ")
        if studentId in D:
            print(studentId, "is already inserted")
            continue
        marksList = input("Enter the marks separated by comma values: ")
        D[studentId] = marksList.split(",")
        moreStudents = input("Do you want to add more students? (yes/no): ")
        if moreStudents.lower() == "no":
            return D

In [4]:
studentData = getDataFromTeacher()

Enter student ID: 10
Enter the marks separated by comma values: 56,45,13
Do you want to add more students? (yes/no): yes
Enter student ID: 10
10 is already inserted
Enter student ID: 29
Enter the marks separated by comma values: 77,83,55,67
Do you want to add more students? (yes/no): no

In [5]:
studentData

{'10': ['56', '45', '13'], '29': ['77', '83', '55', '67']}

In [6]:
def getAvgMarks(D):
    AvgMarksD = {}
    for x in D:
        L = D[x]
        s = 0
        for marks in L:
            s += int(marks)
        AvgMarksD[x]=s/len(L)
    return AvgMarksD

In [8]:
AvgM = getAvgMarks(studentData)
AvgM

{'10': 38.0, '29': 70.5}

In [11]:
 for x in AvgM:
        print("Student:",x,", got an average mark of:",AvgM[x])

Student: 10 , got an average mark of: 38.0
Student: 29 , got an average mark of: 70.5

I got a really great exercise above however I have to keep in mind that all probabilities thinking exceptions handling in case he enters a string! however he made the best choice